image:
  repository: ghcr.io/alvisleet/chrisalvis.me
  tag: main-XXXXXXX  # Updated automatically by deploy.sh
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-secret

replicaCount: 2

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

httproute:
  enabled: true
  hostname: chrisalvis.me
  gateway:
    name: kakariko-gateway
    namespace: default
